[MASTER]

ignore=tests,index.py
load-plugins=pylint.extensions.mccabe

[MESSAGE CONTROL]

disable=missing-module-docstring,
        missing-function-docstring,
        missing-class-docstring,

[FORMAT]

max-line-length=80

[REFACTORING]

max-nested-blocks=5

[DESIGN]

max-complexity=3
max-args=3
max-statements=15